* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tomorrow";
}

/* root {
  --color-principal: rgba(0, 0, 0, 0.822);
} */

/* HEADER-------------------------------------------------HEADER */

.logo {
  width: 170px;
  margin-left: 50px;
  margin-right: 50px;
}

.list {
  list-style: none;
}
.list-item {
  padding: 0 0 0 15;
}
.list .right:first-child {
  padding-left: 0;
}
.social-media-container {
  color: white;
}
.social-media-container > p > a:first-child {
  text-decoration: none;
  color: white;
  background: #3b5998;
  padding: 3px;
}
.social-media-container > p > a:nth-child(2) {
  text-decoration: none;
  color: rgb(236, 209, 209);
  background: linear-gradient(#e66465, #9198e5);
  padding: 3px;
}
.social-media-container > p {
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  -webkit-text-stroke: 0.9px;
}
.reservas > p {
  text-decoration: underline;
}

.list-item > a {
  text-decoration: none;
  color: #5dbcd2;
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 800;
  padding: 3px;
  border: 2px solid #df16ac;
  border-radius: 10px;
}

.list-item > a:active {
  background-color: #df16ac;
  transition: 0s ease-out;
}

.left,
.right {
  display: inline-block;
}

.header-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.822);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200;
}
.header-wrapper {
  display: flex;
  width: 830px;
  justify-content: space-around;
}

.menu {
  display: flex;
  height: 65%;
  width: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navigation {
  display: flex;
  height: 80px;
  width: 310px;
  align-items: flex-end;
  -webkit-text-stroke: 1.1px;
}

/*------------BODY-BODY-BODY-------------*/

.body-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title-box > h2 {
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-right: 100px;
  padding-left: 100px;
  color: #df16ac;
  font-weight: 800;
}
.box > p {
  padding: 55px 100px 35px 100px;
  line-height: 23px;
  letter-spacing: 1px;
}

.box-wrapper {
  display: flex;
  margin-top: 80px;
  margin-bottom: 50px;
  justify-content: space-around;
}

.box {
  width: 50%;
  text-align: center;
}

.box.two {
  width: auto;
  height: auto;
  background: red;
  border-radius: 15px;
  overflow: hidden;
}

.box.two img {
  width: 550px;
  height: 350px;
  /* object-fit: contain; */
  display: block;
}
